<app-navbar></app-navbar>
<div class="client-list" style="background-color: black;">
  <h2 style="color:white;">Client List</h2>

  <div class="search-bar">
    <input type="text" [(ngModel)]="searchQuery" placeholder="Search clients by name..." (input)="filterClients()" />
  </div>

  <div class="add-client">
    <h3  style="color: aliceblue;">Add New Client</h3>
    <input type="text" [(ngModel)]="newClientName" placeholder="Enter client name" />
    <input type="text" [(ngModel)]="newClientContact" placeholder="Enter contact info" />
    <input type="text" [(ngModel)]="newClientSummary" placeholder="Enter client summary" />
    <br /><br />
    <button  (click)="addClient()">Add Client</button>
  </div>
  
  

  <div class="client-card-container">
    <div class="client-card" *ngFor="let client of filteredClients">
      <div class="card">
        <h3>{{ client.name }}</h3>
        <p><strong>Contact:</strong> {{ client.contact }}</p>
        <p><strong>Summary:</strong> {{ client.summary }}</p><br><br><br>
        
        <button (click)="viewClient(client.id)">View</button>
        <button (click)="goToEdit(client.id)">Edit</button>
        <button (click)="deleteClient(client.id)">Delete</button>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>

