<nav class="navbar">
    <ul>
      <li><a routerLink="/dash/dashboard">Dashboard</a></li>
      <li>
        Client
        <ul class="dropdown">
          <li><a routerLink="/client/client-list">Client List</a></li>
        </ul>
      </li>
      <li>
        Projects
        <ul class="dropdown">
          <li><a routerLink="/project/project-list">Project List</a></li>
        </ul>
      </li>
      <li>
        Meetings
        <ul class="dropdown">
            <li><a routerLink="/meetings/meeting-list">Meeting list</a></li>
            <li><a routerLink="/meetings/meeting-calender">Meeting Calender</a></li>
            <li><a routerLink="/meetings/meeting-details">Current Meeting</a></li>
            

        </ul>
    
    </li>

      <li><a routerLink="/auth/login">Sign Out</a></li>
    </ul>
  </nav>
  